UI & Functionality
Inclusion of features with AJAX ,COMET. Web Services etc
Effective use of Frameworks
Intelligent Component of you project

2 Logins :
One is organization, one is patient portal
Organization Portal
-patient list
-each organization, add a vaccination record
-meta_fields : patient name, patient id, age/dob, city_of_birth
-immunization_fields : date, type_of_vaccine and additional_fields
Patient gets read only access

Backend - Flask with MongoDB
WebServices : REST

Intelligence : Email Notifications for prediction of next vaccine.

DataAnalytics : Organization specification

Division of Work : 

- Organization Portal
	- Adding Vaccination Record : Shivani Vogiral
	- Display Patient List : Sanat B

- Patient Viewing Portal 
	- Get Your details : Rohan M
	- Email Notification : 

- OrganizationView :
	- Adding Vaccination Record /api/organization/add_vaccination_record 
	{
		patient_id : x,
		vacination_name : abc, 
		vacc_id : 234, 
		Date_given: 12/2/2001, 
		validity : 24days
	}

FrontEnd + Backend + Database Access Layer + DB(Mongo)

Database Schema : 
Patient Collection 
	- Patient ID, Patient Name, 
Vaccination Collection:
	- Reference Patient ID

//Meta Data
Patients = {
	{
		patient_id : 123, 
		patient_name : ABC, 
		dob : 11/12/1999, 
		city_of_birth : Kolkata,
		email_address : xyz@xyz.com,
		father_name : Dad,
		mother_name : Mom,
		phone_number : XXXXXXX,
		organization : [abc,def,rty],
		username : x,
		password : y
	}
}

//Patient vaccination details
Vaccination = {
				123 : [
						{ 
							vacination_name : abc, 
							vacc_id : 234, 
							Date_given: 12/2/2001, 
							validity : 24days
						},
						{ 
							vacination_name : abc, 
							vacc_id : 234, 
							Date_given: 12/2/2001, 
							validity : 24days
						},
					]
		}

//Organization

Organization = {
	{
		organization_id : abc,
		organization_name : def,
		vaccinations_list : [{vacc_id:name},{vacc_id:name}],
		patients_list :[patient_id1,patient_id2],
		username : x,
		password : y
	}
}

